
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: brown;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: green;
    padding: 5px 8px;
}
.nav-links a:hover{
color: white;
border-radius: 4px;
background-color: darkgreen;
}